@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.theFirst{
  height:100vh;
background-color: black;
}

.content{
  width: 60%;
  padding: 80px;
  color: #fff;
}

.content h1{
  font-size: 90px;
  text-transform: uppercase;
}

.content p{
  letter-spacing: 2px;
  width: 80%;
  margin-top: -30px;
  padding: 20px 0;
}

.content .logo{
  width: 50px;
  margin-bottom: -10px;
}

.heroCard{
  height: 700px;
  width: 550px;
  margin-top: -750px;
  margin-right:150px ;
  background-image: url(/public/hero-img-2.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  float: right;
  border-radius: 100px;
  opacity: .5;
  animation: fadeIn 1.5s infinite alternate-reverse;
}

@keyframes fadeIn {
  0% { opacity: .4; }
  100% { opacity: 1; }
}

.theSecond{
  height:50vh ;
}

.headLine{
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 80%;
  margin-left: 200px;
  
}

.cardsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 0px 150px;
}

.box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.theSecond .cardsContainer .box span{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.theSecond .cardsContainer .box img{
width: 120px;
padding: 20px;
}

.theTherd{
  height:70vh ;
  background-color: rgb(0, 0, 0);
  display: flex;
  gap: 80px;
  padding: 100px;
}

.theTherd h2{
  color: #fff;
  font-size: 45px;
}
.footer{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem;
  overflow: hidden;
  backdrop-filter: blur(8px);
  min-width: 344px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
  border: 0.5px solid #525252;
  border-radius: 8px;
  overflow: hidden;
}
.terminal {
  display: flex;
  flex-direction: column;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 40px;
  padding-inline: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #202425;
}
.title {
  display: flex;
  align-items: baseline;
  gap: 8px;
  user-select: none;
  font-weight: 600;
  white-space: nowrap;
  color: #8e8e8e;
  z-index: 222;
}
.title > svg {
  height: 18px;
  width: 18px;
  margin-top: 40px;
  color: #006adc;
}
.copy_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin-left: auto;
  border-radius: 6px;
  background-color: #202425;
  color: #8e8e8e;
  cursor: pointer;
}
.copy_toggle > svg {
  width: 20px;
  height: 20px;
}
.copy_toggle:active > svg > path,
.copy_toggle:focus-within > svg > path {
  animation: clipboard-check 500ms linear forwards;
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-x: auto;
  padding: 1rem;
  line-height: 19px;
  color: white;
  background-color: black;
  white-space: nowrap;
}
.pre {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  white-space: pre;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
}
.pre code:nth-child(1) {
  color: #575757;
}
.pre code:nth-child(2) {
  color: #e34ba9;
}
.cmd {
  height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cmd::before {
  content: attr(data-cmd);
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  animation: inputs 8s steps(22) infinite;
}
.cmd::after {
  content: "";
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  border-right: 0.15em solid #e34ba9;
  animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
}

@keyframes blinking {
  20%,
  80% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes cursor {
  50% {
    border-right-color: transparent;
  }
}
@keyframes inputs {
  0%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 58px;
  }
  30%,
  70% {
    width: 215px;
    max-width: max-content;
  }
}
@keyframes clipboard-check {
  100% {
    color: #fff;
    d: path(
      "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
    );
  }
}
.card-client {
  background: #ffffff;
  width: 20rem;
  height: 22rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #a2cad2;
  box-shadow: 0 6px 10px #656060;
  border-radius: 10px;
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 9rem;
  height: 9rem;
  border: 4px solid #96d7d5;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture img {
  width: 12rem;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 1  6px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #000000;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}
