@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.theFirst{
  height:100vh;
background-color: black;
}

.content{
  width: 60%;
  padding: 80px;
  color: #fff;
}

.content h1{
  font-size: 90px;
  text-transform: uppercase;
}

.content p{
  letter-spacing: 2px;
  width: 80%;
  margin-top: -30px;
  padding: 20px 0;
}

.content .logo{
  width: 50px;
  margin-bottom: -10px;
}

.heroCard{
  height: 700px;
  width: 550px;
  margin-top: -750px;
  margin-right:150px ;
  background-image: url(/public/hero-img-2.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  float: right;
  border-radius: 100px;
  opacity: .5;
  animation: fadeIn 1.5s infinite alternate-reverse;
}

@keyframes fadeIn {
  0% { opacity: .4; }
  100% { opacity: 1; }
}

.theSecond{
  height:50vh ;
}

.headLine{
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 80%;
  margin-left: 200px;
  
}

.cardsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 0px 150px;
}

.box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.theSecond .cardsContainer .box span{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.theSecond .cardsContainer .box img{
width: 120px;
padding: 20px;
}

.theTherd{
  height:70vh ;
  background-color: rgb(0, 0, 0);
  display: flex;
  gap: 80px;
  padding: 100px;
}

.theTherd h2{
  color: #fff;
  font-size: 45px;
}
.footer{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

